@import url("./globals.css");

#canvas {
	width: 100%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 1rem;
}
